.containerEmail {
  .loading {
    margin: 3rem 0 39rem;
  }
}

.containerMailUnread {
  ul {
    .message {
      float: left;
      border: 1px solid lightgray;
      padding: 1.5rem 0.8rem;
      margin-bottom: 2.5rem;
      background-color: white;
      border-radius: 5px;
    }
    .message:last-child {
      margin-bottom: 0;
    }
    .containerSubject {
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid lightgray;
      .cell {
      }
      .date, .delete {
      }
      .delete {
        color: blue;
        opacity: 0.5;
        cursor: pointer;
      }
    }
    .containerBody {
      clear: both;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid lightgray;
      height: 4.5rem;
    }
    .containerBtn {
      padding-top: 1.5rem;
      text-align: center;
    }
  }
}

.containerMailRead {
  ul {
    margin: 0;
    padding: 0 2.5rem;
    background-color: white;
    .message {
      padding: 1rem 0;
      border-bottom: 1px solid lightgray;
      .cell {
        float: left;
        button {
          background-color: orange;
          border-color: orange;
          color: white;
          white-space: normal;
          text-align: left;
          margin-top: 1rem;
        }
      }
      .containerMessage {
        padding-left: 2rem;
        .containerBody {
          margin-top: 1.5rem;
        }
      }
      .containerTimestamp {
        color: #ccc;
      }
      .delete {
        color: blue;
        opacity: 0.5;
        cursor: pointer;
      }

    }
    .message:last-child {
      border-bottom: 0;
    }
  }
}
